// Colors
$label-colour: #bbb;
$disabled-colour: #ddd;
$toggle-colour: #2f855a;
$white: #fff;
$focus-color: #ff0;

td {
  padding: 5px 10px;
  min-width: 300px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 80vw;
  height: 100vh;
  background-color: #edf2f7;
}
